/FirstJSP/nbproject/private/
/FirstJSP/build/
/glassFish/nbproject/private/
/glassFish/build/
/TestJsp/nbproject/private/
/TestJsp/build/
/shohanweb/nbproject/private/
/shohanweb/build/
/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/build/
/EnterpriseApplication1/EnterpriseApplication1-ejb/dist/
/EnterpriseApplication1/EnterpriseApplication1-war/build/
/EnterpriseApplication1/build/
/EnterpriseApplication1/EnterpriseApplication1-war/dist/
/WebApplication1/nbproject/private/
/JSP_Servelet/nbproject/private/
/JSP_Servelet/build/
/FormExam/nbproject/private/
/FormExam/build/
/InventoryByBariSir/nbproject/private/
/InventoryByBariSir/build/